<mat-sidenav-container *ngIf="isLoggedIn |async" fullscreen>
    <mat-sidenav  #sidenav>

        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="/refund-data-table">
                <mat-icon>library_books</mat-icon>
                <span>Finans</span>
            </a>
              </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar >

        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>

    
        <a mat-button routerLink="/login" (click)="logout()" id="logout">
            <mat-icon>exit_to_app</mat-icon>
            Log-out
        </a>
        
    </mat-toolbar>

    <router-outlet></router-outlet>
    
</mat-sidenav-container>

<div id="login">

    <router-outlet *ngIf="!(isLoggedIn |async)"></router-outlet>
</div>


